{{ define "Show" }}
  {{ template "Header" }}
    <div class="container">
        <h2>Detail Berat</h2>
        <p><strong>Tanggal: </strong> {{ .data.Date.Format "2006-01-02" }} </p>
        <p><strong>Max: </strong> {{ .data.Max }} </p>
        <p><strong>Min: </strong>{{ .data.Min }}</p>
        <p><strong>Perbedaan: </strong> {{ .data.Diff }} </p>
        <br /> 
        <a href="/edit?id={{ .data.ID }}" class="btn btn-primary">Edit</a>
        <a href="/" class="btn btn-primary">Go back to home</a>
    </div>
  {{ template "Footer" }}
{{ end }}
